Repository maliksikander/unified-admin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_artifacts_frontend, node_artifacts_backend

Path conditions:
  node_artifacts_frontend: any of: Frontend/package.json
  node_artifacts_backend: any of: Backend/package.json

Fixing issues
  Backend/package.json
  Backend/src/controllers/reason.controller.js
  Backend/src/index.js
  Backend/src/models/reason.model.js
  Backend/src/services/reason.service.js
  Backend/src/validations/reason.validation.js
  Frontend/src/app/admin/reason-codes/reason-codes.component.html
  Frontend/src/app/admin/reason-codes/reason-codes.component.ts
  Frontend/src/app/admin/services/common.service.ts
Due: node_artifacts_backend

test commit
  Frontend/package.json
Due: node_artifacts_frontend

test commit
  Backend/package.json
Due: node_artifacts_backend

changing reason code schema
  Backend/src/services/reason.service.js
Due: none

fixing changes
  Backend/src/index.js
  Backend/src/models/reason.model.js
  Backend/src/services/reason.service.js
  Backend/src/validations/reason.validation.js
  Frontend/src/app/admin/reason-codes/reason-codes.component.html
  Frontend/src/app/admin/reason-codes/reason-codes.component.ts
  Frontend/src/app/shared/remove-character.pipe.ts
Due: none

Changing package json
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

add: agent desk settings component and UI for the Agent Desk settings
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/admin.module.ts
  Frontend/src/app/admin/admin.routes.ts
  Frontend/src/app/admin/services/auth.guard.ts
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.html
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.scss
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.spec.ts
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.ts
  Frontend/src/app/authentication/login/login.component.ts
  Frontend/src/assets/images/agent-desk.svg
  Frontend/src/styles.scss
Due: none

update ui fixed alignment issues
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.html
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.scss
Due: none

Disabled those Features which are not implemented yet but showing in unified admin front end interface.
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/admin.routes.ts
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.html
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.html
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.ts
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.html
  Frontend/src/app/authentication/login/login.component.ts
Due: none

agent desk settings
  Backend/src/controllers/agentDeskSettings.controller.js
  Backend/src/controllers/index.js
  Backend/src/models/agentDeskSettings.model.js
  Backend/src/models/index.js
  Backend/src/routes/v1/agentDeskSettings.route.js
  Backend/src/routes/v1/index.js
  Backend/src/services/agentDeskSettings.service.js
  Backend/src/services/index.js
  Backend/src/validations/agentDeskSettings.validation.js
  Backend/src/validations/index.js
  Backend/tests/agent-desk-settings-controller.test.js
  Backend/yarn.lock
  Frontend/src/app/admin/services/endpoint.service.ts
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.html
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.scss
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.spec.ts
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.ts
Due: none

testing
  Frontend/package.json
  Frontend/src/app/agent-desk-settings/agent-desk-settings.component.spec.ts
Due: node_artifacts_frontend

space
  Backend/package.json
Due: node_artifacts_backend

adding voice changes
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
Due: none

adding voice changes
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

Adding Permissions and merging alignment fixes
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/admin-main/admin-main.component.ts
  Frontend/src/app/admin/admin.module.ts
  Frontend/src/app/admin/admin.routes.ts
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.html
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.scss
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.spec.ts
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.ts
  Frontend/src/app/admin/services/auth.guard.ts
  Frontend/src/app/authentication/login/login.component.ts
Due: node_artifacts_frontend, node_artifacts_backend

Adding testing fixes
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.spec.ts
Due: node_artifacts_frontend, node_artifacts_backend

fixing CIM-6842
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.html
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.ts
  Frontend/src/app/admin/services/common.service.ts
  Frontend/src/app/admin/services/endpoint.service.ts
Due: none

test commit
  Frontend/package.json
  Frontend/src/app/admin/services/endpoint.service.ts
Due: node_artifacts_frontend

Branch Setup
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/services/auth.guard.ts
Due: node_artifacts_frontend, node_artifacts_backend

CIM-6726
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/reason-codes/reason-codes.component.html
  Frontend/src/app/admin/reason-codes/reason-codes.component.ts
Due: none

CIM-6240
  Frontend/src/app/admin/route-settings/mrd/mrd.component.html
  Frontend/src/app/admin/route-settings/mrd/mrd.component.scss
  Frontend/src/app/admin/route-settings/mrd/mrd.component.ts
  Frontend/src/app/admin/services/common.service.ts
Due: none

Fixing CIM-7742
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.html
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.ts
Due: none

prometheus default metrics
  Backend/package.json
  Backend/src/controllers/index.js
  Backend/src/controllers/prometheus.controller.js
  Backend/src/routes/v1/index.js
  Backend/src/routes/v1/prometheus.route.js
  Backend/yarn.lock
Due: node_artifacts_backend

fixing CIM-7773
  Backend/src/services/reason.service.js
  Frontend/src/app/admin/reason-codes/reason-codes.component.ts
  Frontend/src/assets/config/config.json
Due: none

CI trigger
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

arabic language support added
  Frontend/src/app/admin/general-settings/locale/locale.component.ts
Due: none

trigger ci
  Backend/package.json
  Frontend/src/app/admin/general-settings/locale/locale.component.ts
Due: node_artifacts_backend

trigger CI JOB For Frontend
  Frontend/package.json
Due: node_artifacts_frontend

trigger CI
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

Adding Customer Inactivity Timeout for Voice Type
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.html
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
Due: node_artifacts_frontend, node_artifacts_backend

CIM-7838
  Backend/admin-panel.env
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/reason-codes/reason-codes.component.html
  Frontend/src/app/admin/services/common.service.ts
Due: node_artifacts_frontend, node_artifacts_backend

CI Trigger
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

CIM-8002
  .gitlab-ci.yml
  Backend/config.json
  Backend/package.json
  Backend/src/controllers/login.controller.js
  Frontend/src/app/admin/route-settings/users/users.component.ts
  Frontend/src/styles.scss
Due: node_artifacts_backend

disabled mongoose connection from making in reason model in test envirnoment
  Backend/src/models/reason.model.js
Due: none

stopping mongodb connection in unit tests
  Backend/admin-panel.env
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

merged cim-7555 into CIM_8745
  Backend/package.json
  Backend/src/controllers/healthCheck.controller.js
  Backend/src/controllers/index.js
  Backend/src/routes/v1/healthCheck.route.js
  Backend/src/routes/v1/index.js
  Backend/src/services/healthCheck.service.js
  Backend/src/services/index.js
Due: node_artifacts_backend

merged cim-7555 into CIM_8745
  .gitlab-ci.yml
  Frontend/.scannerwork/.sonar_lock
  Frontend/.scannerwork/css-bundle/bin/server
  Frontend/.scannerwork/css-bundle/lib/src/server.d.ts
  Frontend/.scannerwork/css-bundle/lib/src/server.js
  Frontend/.scannerwork/css-bundle/lib/src/server.js.map
  Frontend/.scannerwork/css-bundle/lib/tsconfig.tsbuildinfo
  Frontend/.scannerwork/css-bundle/package/package.json
  Frontend/.scannerwork/css-bundle/package/yarn.lock
  Frontend/.scannerwork/css-bundle/stylelintconfig.json
  Frontend/.scannerwork/report-task.txt
  Frontend/package.json
Due: node_artifacts_frontend

Update sonar-project.properties
  Frontend/sonar-project.properties
Due: none

Update sonar-project.properties
  Backend/sonar-project.properties
Due: none
