Repository maliksikander/unified-admin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_artifacts_frontend, node_artifacts_backend

node_artifacts_frontend:
  stage: artifacts-frontend
  image: node:14.16.1-alpine3.13
  script:
  - cd Frontend
  - rm -rf node_modules
  - npm install --legacy-peer-deps
  - npm uninstall jest
  - npm install jest@27.4.1
  allow_failure: false
  cache:
    key: unified-admin-frontend
    paths:
    - Frontend/node_modules

node_artifacts_backend:
  stage: artifacts-backend
  image: node:14.16.1-alpine3.13
  script:
  - cd Backend
  - npm install --legacy-peer-deps
  - npm uninstall ef-keycloak-connect
  - npm install ef-keycloak-connect@1.0.0
  - npm uninstall jest
  - npm install jest@27.4.1
  allow_failure: false
  cache:
    key: unified-admin-backend
    paths:
  ...

Update sonar-project.js
  Frontend/sonar-project.js
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

token removed from RE APIs
  Backend/package.json
  Frontend/package.json
  Frontend/src/app/admin/services/endpoint.service.ts
Due: node_artifacts_frontend, node_artifacts_backend

1.5.1
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

Update Backend/package.json
  Backend/package.json
Due: node_artifacts_backend

Branch Setup
  Backend/admin-panel.env
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
  Frontend/src/app/admin/services/common.service.ts
  Frontend/src/app/admin/services/endpoint.service.ts
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.ts
  Frontend/src/assets/config/config.json
  Frontend/src/assets/config/config.json.template
Due: none

CIM-8665
  .gitlab-ci.yml
  Frontend/src/app/admin/channel-manager/channel/channel-list.component.ts
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.html
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
  Frontend/src/app/admin/services/common.service.ts
  Frontend/src/assets/config/config.json
Due: none

working on CIM-8665
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.html
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
  Frontend/src/app/admin/route-settings/mrd/mrd.component.ts
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.ts
  Frontend/src/app/admin/services/common.service.ts
Due: none

enabling dev mode config
  Frontend/src/app/admin/services/endpoint.service.ts
Due: none

enabling sonarqube job
  .gitlab-ci.yml
Due: none

enabling sonarqube job
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

bypassing sonarqube
  .gitlab-ci.yml
Due: none

adding min value
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.ts
  Frontend/src/app/admin/services/common.service.ts
Due: none

Updating keycloak version
  Backend/admin-panel.env
  Backend/package.json
Due: node_artifacts_backend

Updating ci file
  .gitlab-ci.yml
Due: none

update and imprive UI according to our theme, and improve component UI and code quality
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.scss
  Frontend/src/app/admin/bot/bot-list/bot-list.component.scss
  Frontend/src/app/admin/bot/bot-list/bot-settings/bot-settings.component.html
  Frontend/src/app/admin/bot/bot-list/bot-settings/bot-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-connector/channel-connector-settings/channel-connector-settings.component.html
  Frontend/src/app/admin/channel-manager/channel-connector/channel-connector-settings/channel-connector-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-connector/channel-connector.component.scss
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider-settings/channel-provider-settings.component.html
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider-settings/channel-provider-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider.component.scss
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.scss
  Frontend/src/app/admin/channel-manager/channel-type/channel-type.component.scss
  Frontend/src/app/admin/channel-manager/channel/channel-list.component.scss
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.html
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.scss
  Frontend/src/app/admin/forms/forms.component.scss
  Frontend/src/app/admin/forms/new-form/new-form.component.scss
  Frontend/src/app/admin/general-settings/amq/amq.component.scss
  Frontend/src/app/admin/general-settings/calendar/calendar.component.scss
  Frontend/src/app/admin/general-settings/locale/locale.component.scss
  Frontend/src/app/admin/general-settings/logging/logging.component.scss
  Frontend/src/app/admin/pull-mode-routing/pull-mode-routing.component.scss
  Frontend/src/app/admin/reason-codes/reason-codes.component.scss
  Frontend/src/app/admin/route-settings/attribute/attribute.component.html
  Frontend/src/app/admin/route-settings/attribute/attribute.component.scss
  Frontend/src/app/admin/route-settings/mrd-tasks/mrd-tasks.component.html
  Frontend/src/app/admin/route-settings/mrd-tasks/mrd-tasks.component.scss
  Frontend/src/app/admin/route-settings/mrd/mrd.component.html
  Frontend/src/app/admin/route-settings/mrd/mrd.component.scss
  Frontend/src/app/admin/route-settings/mrd/mrd.component.ts
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.html
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.scss
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.ts
  Frontend/src/app/admin/route-settings/users/users.component.html
  Frontend/src/app/admin/route-settings/users/users.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.scss
  Frontend/src/app/shared/confirm-dialog/confirm-dialog.component.html
  Frontend/src/styles.scss
Due: none

removed commented code
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider.component.scss
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.scss
  Frontend/src/app/admin/channel-manager/channel-type/channel-type.component.scss
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.scss
  Frontend/src/app/admin/forms/forms.component.scss
  Frontend/src/app/admin/forms/new-form/new-form.component.scss
  Frontend/src/app/admin/general-settings/calendar/calendar.component.scss
  Frontend/src/app/admin/general-settings/license-manager/license-manager.component.scss
  Frontend/src/app/admin/general-settings/logging/logging.component.scss
  Frontend/src/app/admin/pull-mode-routing/pull-mode-routing.component.scss
  Frontend/src/app/admin/reason-codes/reason-codes.component.scss
  Frontend/src/app/admin/route-settings/mrd-tasks/mrd-tasks.component.scss
  Frontend/src/app/admin/route-settings/mrd/mrd.component.scss
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.scss
  Frontend/src/app/admin/route-settings/users/users.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.scss
  Frontend/src/rtl-style.scss
  Frontend/src/styles.scss
Due: none

update UI after review session
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.html
  Frontend/src/app/admin/agent-desk-settings/agent-desk-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel/channel-list.component.scss
  Frontend/src/app/admin/general-settings/locale/locale.component.scss
  Frontend/src/app/admin/route-settings/mrd/mrd.component.scss
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.scss
  Frontend/src/styles.scss
Due: none

update UI after discussion and review
  Frontend/src/app/admin/bot/bot-list/bot-settings/bot-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-connector/channel-connector-settings/channel-connector-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider-settings/channel-provider-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.scss
  Frontend/src/app/admin/channel-manager/channel/channel-settings/channel-settings.component.scss
  Frontend/src/app/admin/forms/new-form/new-form.component.scss
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.html
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.scss
  Frontend/src/app/shared/confirm-dialog/confirm-dialog.component.html
  Frontend/src/styles.scss
Due: none

update UI for the confirmation dialog and action triggers
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/bot/bot-list/bot-list.component.ts
  Frontend/src/app/admin/channel-manager/channel-connector/channel-connector.component.ts
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider-settings/channel-provider-settings.component.scss
  Frontend/src/app/admin/channel-manager/channel-provider/channel-provider.component.ts
  Frontend/src/app/admin/channel-manager/channel-type/channel-type.component.ts
  Frontend/src/app/admin/channel-manager/channel/channel-list.component.ts
  Frontend/src/app/admin/forms/forms.component.ts
  Frontend/src/app/admin/forms/new-form/new-form.component.html
  Frontend/src/app/admin/forms/new-form/new-form.component.scss
  Frontend/src/app/admin/general-settings/calendar/calendar.component.html
  Frontend/src/app/admin/general-settings/calendar/calendar.component.ts
  Frontend/src/app/admin/pull-mode-routing/pull-mode-routing.component.ts
  Frontend/src/app/admin/reason-codes/reason-codes.component.ts
  Frontend/src/app/admin/route-settings/attribute/attribute.component.html
  Frontend/src/app/admin/route-settings/attribute/attribute.component.ts
  Frontend/src/app/admin/route-settings/mrd/mrd.component.html
  Frontend/src/app/admin/route-settings/mrd/mrd.component.ts
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.html
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.ts
  Frontend/src/app/admin/route-settings/users/users.component.html
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.ts
  Frontend/src/app/authentication/login/login.component.html
  Frontend/src/app/shared/confirm-dialog/confirm-dialog.component.html
  Frontend/src/styles.scss
Due: none

Fixing CIM-9514
  Backend/src/config/logger.js
Due: none

update button
  Frontend/src/app/admin/route-settings/precision-queue/precision-queue.component.scss
  Frontend/src/styles.scss
Due: none

form key bug is fixed
  Frontend/src/app/admin/forms/new-form/new-form.component.ts
Due: none

update UI for the channel logo
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.html
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.scss
Due: none

web-widget configuration for wevRTC is added with farhan's changes for channel type form.
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.html
  Frontend/src/app/admin/channel-manager/channel-type/channel-type-form/channel-type-form.component.scss
  Frontend/src/app/admin/services/common.service.ts
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.html
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.scss
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.ts
Due: none

Dummy commit
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

Fixing Spec Commit
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.spec.ts
Due: none

update UI for the Business calander
  Frontend/src/app/admin/general-settings/calendar/calendar.component.html
  Frontend/src/app/admin/general-settings/calendar/calendar.component.scss
  Frontend/src/assets/images/calendar.svg
  Frontend/src/assets/images/channel-type.svg
  Frontend/src/assets/themes/blue-theme.scss
  Frontend/src/assets/themes/custom-color-palettes.scss
  Frontend/src/styles.scss
Due: none

update UI for the Business calander
  Frontend/src/app/admin/admin-main/admin-main.component.html
  Frontend/src/app/admin/admin.routes.ts
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.html
  Frontend/src/app/admin/web-widget-list/web-widget-form/web-widget-form.component.ts
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.html
  Frontend/src/app/admin/web-widget-list/web-widget-list.component.ts
  Frontend/src/app/authentication/login/login.component.ts
Due: none

Triggering CI
  Backend/package.json
  Frontend/package.json
Due: node_artifacts_frontend, node_artifacts_backend

update UI*
  Frontend/src/app/admin/general-settings/calendar/calendar.component.html
  Frontend/src/app/admin/general-settings/calendar/calendar.component.scss
Due: none

test ci
  Frontend/package.json
Due: node_artifacts_frontend

revert changes
  Frontend/package.json
  Frontend/src/app/admin/general-settings/calendar/calendar.component.html
  Frontend/src/app/admin/general-settings/calendar/calendar.component.scss
Due: node_artifacts_frontend

Path conditions:
  node_artifacts_frontend: any of: Frontend/package.json
  node_artifacts_backend: any of: Backend/package.json
